{% extends 'board/home.html' %}
{% block content %}
<div class="container">
    <h2>게시판1</h2>
    <button type="button" class="btn"><a href="writePage">글쓰기</a></button>
    <br>
    <div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>내용</th>
        </tr>
        </thead>
        <tbody>
        {% for board in page_info %}
        <tr>
            <td>{{ board.id }}</td>
            <td>{{ board.title}}</td>
            <td>{{ board.content }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>

    <div class="board">
        <span class="step-links">
            {% if page_info.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_info.previous_page_number }}">previous</a>
{% endif %}

<span class="current">
Page {{ page_info.number }} of {{ page_info.paginator.num_pages }}.
</span>

{% if page_info.has_next %}
<a href="?page={{ page_info.next_page_number }}">next</a>
<a href="?page={{ page_info.paginator.num_pages }}">last &raquo;</a>
{% endif %}

</span>
</div>
</div>

{% endblock %}
