{% extends 'board/home.html' %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h1>회원가입</h1>
    <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" class="form-control" name="id"><br>
        <button type="button" class="btn" onclick="id_check()">중복확인</button>
    </div>

    <div class="form-group">
        <label for="pw">Password:</label>
        <input type="password" class="form-control" name="pw">
    </div>
    <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" name="name">
    </div>
    <button type="submit" class="btn">가입하기</button>
</form>
{% load static %}
<script src="{% static 'board/js/jquery.min.js' %}"></script>

<script>
    function id_check(){
        id = $('input[name=id]').val()
        ct = $('input[name=csrfmiddlewaretoken]').val()
        $.ajax({
            // url: '/lotto/id_check',
            url: '{% url 'id_check' %}',
            type: 'post',
            data: {'id':id,
            'csrfmiddlewaretoken' : ct
            },
            success: function(res) {
                alert(res.msg)

            }

        })
    }
</script>

{% endblock %}




